.banner{
    display: flex;
    justify-content: center;
    background: url("/public/banner/banner.svg");
}

.banner-title{
    text-transform: uppercase;
    font-size: 128px;
    font-family: 'Marcellus', serif;
    letter-spacing: 5px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 282px;
    margin-bottom: 568px;
    max-height: 161px;
}